# Database Configuration
DB_NAME=yii2_books
DB_USER=yii2_user
DB_PASSWORD=yii2_password
MYSQL_ROOT_PASSWORD=root_password

# User permissions
# Для Linux/macOS выполните: id -u и id -g
# Для Windows используйте: 1000 и 1000
USER_ID=1000
GROUP_ID=1000

